#all-price1 {
  background: #352b44;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
#all-price1 .price-box {
  background: #3d3250;
  transform: scale(1);
  transition: all 2s ease;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
}
#all-price1 .price-box:hover {
  box-shadow: 0px 0px 8px #000;
  transform: scale(1.05);
}
#all-price1 .price-box:hover .title-price {
  font-size: 30px;
  font-weight: 300;
  padding: 0px 0 0;
  background: #4bd6d3;
}
#all-price1 .price-box .title-price {
  transition: all 1s ease;
  min-height: 15px;
  font-size: 0;
  background: #4bd6d3;
}
#all-price1 .price-box .item {
  color: #fff;
  margin: 0px 10px 10px;
  padding: 0px 40px 10px;
}
#all-price1 .price-box .item .price {
  font-size: 40px;
  font-weight: 900;
  padding: 15px 0 0;
}
#all-price1 .price-box .item .content {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 0 20px;
}
#all-price1 .price-box .item .btn {
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #4bd6d3;
  padding: 14px 0px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
#all-price1 .price-box .item .btn::before {
  background: #4bd6d3;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}
#all-price1 .price-box .item .btn1::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#all-price1 .price-box .item .btn1:hover::before {
  height: 380%;
}

#price2 {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #c1c1c1;
}
#price2 .box {
  margin-bottom: 22px;
  margin-top: 22px;
  transition: all 1s ease;
}
#price2 .box:hover {
  transform: scale(1.05);
}
#price2 .box:hover .item .content {
  height: 100%;
}
#price2 .box:hover .item .content p {
  font-size: 18px;
  padding: 10px 16px;
  margin: 6px auto 12px;
}
#price2 .box .price {
  background: #fff;
  color: #7e47c9;
  border-radius: 50px;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 900;
  margin: 0 auto -32px;
  z-index: 10;
  position: relative;
}
#price2 .box .item .title {
  height: 90px;
  background: #9D50BB;
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
  background: linear-gradient(to right, #6E48AA, #9D50BB);
  border-radius: 10px 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  padding-bottom: 5px;
}
#price2 .box .item .content {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: 0px 10px;
  background: white;
  border-radius: 0 0 10px 10px;
  height: 10px;
  transition-duration: 5s;
}
#price2 .box .item .content p {
  font-size: 0px;
  font-weight: 400;
  text-align: center;
  padding: 0px 16px;
  transition: all 1s ease;
  margin: 0;
}
#price2 .box .item .btn {
  margin: 0 auto -42px;
  background: #9D50BB;
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
  background: linear-gradient(to right, #6E48AA, #9D50BB);
  color: #fff;
  border-radius: 50px;
  padding: 8px 18px 10px;
  font-size: 18px;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
